/* →→→ Color scheme sourced from: https://www.colorhexa.com/cc99cc ←←← */

:root {
  --primary-color: #cc99cc;
  --secondary-color: #99cc99;
  --tertiary-color: #cccc99;
  --quaternary-color: #9999cc;
  --border-params: solid 3px var(--primary-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--secondary-color);
}

/* ↓↓↓ Header styles ↓↓↓ */

header {
  z-index: 9999;
  width: 100%;
  display: flex;
  top: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  flex-direction: row;
  position: sticky;
  background-image: url(../images/geo-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
}

header h1 {
  color: var(--secondary-color);
  padding: 20px;
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px var(--secondary-color);
}

header nav ul {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  list-style: none;
}

header nav ul li {
  font-size: 2rem;
  padding: 15px;
  text-shadow: 2px 2px 5px var(--quaternary-color);
}

header a {
  color: var(--quaternary-color);
}

header nav a {
  text-decoration: none;
}

/* ↓↓↓ Hero styles ↓↓↓ */

.hero {
  display: flex;
  background-image: url(../images/geo-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  justify-content: flex-end;
}

.hero h2 {
  color: var(--primary-color);
  font-size: 1.8rem;
  flex-wrap: wrap;
  padding: 80px;
  text-shadow: 2px 2px 5px var(--quaternary-color);
}

/* ↓↓↓ Section styles ↓↓↓ */
.body-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.body-content h2 {
  flex: 1 28%;
  padding: 60px 20px 20px 180px;
  font-size: 80px;
  top: 0;
}

.sub-section {
  display: flex;
  flex: 2 60%;
}

.about article {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about article p {
  font-size: 1.8rem;
  max-width: 60%;
}
article img {
  border-radius: 50%;
  width: 360px;
  border: solid 2px black;
  margin: 3.8em;
}

.work-examples img {
  width: 28vw;
}

.most-recent img {
  width: 60vw;
}

/* ↓↓↓ Footer Styles ↓↓↓ */

footer {
  z-index: 9999;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  flex-direction: row;
  background-image: url(../images/geo-background.jpg);
  background-size: cover;
  background-position: 50%;
}

footer h1 {
  color: var(--secondary-color);
  padding: 20px;
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px var(--secondary-color);
}

footer nav ul li {
  font-size: 2rem;
  padding: 15px;
  text-shadow: 2px 2px 5px var(--quaternary-color);
}

footer p {
  color: var(--primary-color);
  padding: 1em;
}

footer a {
  color: var(--quaternary-color);
  text-decoration: none;
  font-size: 1.8rem;
}

/* ↓↓↓ Broke everything ↓↓↓ */
/* 
article {
  display: flex;
  align-items: center;
}
article img {
  border-radius: 50%;
  width: 18em;
  margin: 2.5em;
}

article p {
  padding: 3.5em 2.5em;
}

section h2 {
  font-size: 3.5rem;
  width: 4em;
}

section p {
  font-size: 1.8rem;
  color: black;
}

.main {
  display: flex;
  flex-direction: column;
}

.body-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article,
.work {
  margin: 24px 0;
  border-left: var(--border-params);
} */
