/* →→→ Color scheme sourced from: https://www.colorhexa.com/cc99cc ←←← */

:root {
  --primary-color: #cc99cc;
  --secondary-color: #99cc99;
  --tertiary-color: #cccc99;
  --quaternary-color: #9999cc;
  --border-params: solid 3px var(--primary-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--secondary-color);
}

/* ↓↓↓ Header styles ↓↓↓ */

header {
  z-index: 9999;
  width: 100%;
  display: flex;
  top: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  flex-direction: row;
  position: sticky;
  background-image: url(../images/geo-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
}

header h1 {
  color: var(--secondary-color);
  padding: 20px;
  font-size: 2.5rem;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  list-style: none;
}

header nav ul li {
  font-size: 2rem;
  padding: 15px;
}

header a {
  color: var(--quaternary-color);
}

header nav a {
  text-decoration: none;
}

/* ↓↓↓ Hero styles ↓↓↓ */

.hero {
  display: flex;
  background-image: url(../images/geo-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  justify-content: flex-end;
}

.hero h2 {
  color: var(--primary-color);
  font-size: 1.8rem;
  flex-wrap: wrap;
  padding: 80px;
}

/* ↓↓↓ Section styles ↓↓↓ */

article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

article p {
  width: 150px;
  font-size: 2rem;
  width: 40em;
}

article img {
  margin: 0 6em 0 3em;
  border-radius: 50%;
  width: 18em;
}
.most-recent img {
  width: 62vw;
  margin: 40px;
}
.body-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.body-content h2 {
  width: 300px;
  height: 300px;
  padding-left: 200px;
  border-right: solid 3px var(--primary-color);
}

.main {
  display: flex;
  flex-direction: column;
}

.work {
}
